body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    gap: 5px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

#display {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    font-size: 24px;
    padding: 10px;
}

button {
    width: calc(25% - 5px); /* 4 x 4 grid; 5px is the gap used in container */
    height: 60px;
}